<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Добро пожаловать!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
		<link rel="stylesheet" href="<%=htmlWebpackPlugin.files.chunks.main.css %>">
    </head>
    <body>
        {% block body %}{% endblock %}
		<div id="root"></div>
		<script src="<%= htmlWebpackPlugin.files.chunks.main.entry %>"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
