{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1><span>Купленные квартиры:</span></h1>
                <ul>
                    {% for result in results %}
                        <li>{{ result.xml }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}