{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1><span>Проданные квартиры:</span></h1>
                <table>
                    <thead>
                    <th>ID</th>
                    <th>ЖК</th>
                    <th>Тип квартиры</th>
                    <th>Базовая стоимость</th>
                    </thead>
                    {% for result in results %}
                        <td>{{ result.xml }}</td>

                        <td>{{ result.name }}</td>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}